In [0]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier

# https://pypi.python.org/pypi/pydot
!apt-get -qq install -y graphviz && pip install -q pydotplus
import pydotplus

from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz

In [0]:
import os
import subprocess
subprocess.check_output("pwd", shell=True)

b'/content\n'

In [0]:
data_training = pd.read_csv('credit-german-train_num.csv')

In [0]:
data_training

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
0,1,6,1169,4,4,67,2,1,1,1,...,0,1,1,0,1,0,1,0,0,1
1,2,48,5951,2,2,22,1,1,0,1,...,0,1,1,0,1,0,1,0,0,0
2,3,12,2096,2,3,49,1,2,1,1,...,0,1,1,0,1,0,0,0,1,0
3,4,42,7882,2,4,45,1,2,1,1,...,0,0,1,0,0,0,1,0,0,0
4,5,24,4870,3,4,53,2,2,0,1,...,1,0,1,0,0,0,1,0,0,0
5,6,36,9055,2,4,35,1,2,1,1,...,1,0,1,0,0,0,0,0,1,1
6,7,24,2835,3,4,53,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
7,8,36,6948,2,2,35,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
8,9,12,3059,2,4,61,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
9,10,30,5234,4,2,28,2,1,0,1,...,0,0,1,0,1,0,0,0,0,0
10,11,12,1295,3,1,25,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
11,12,48,4308,3,4,24,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
12,13,12,1567,1,1,22,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
13,14,24,1199,4,4,60,2,1,0,1,...,0,0,1,0,1,0,0,0,1,0
14,15,15,1403,2,4,28,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
15,16,24,1282,4,2,32,1,1,0,1,...,0,0,1,0,1,0,0,0,1,0
16,17,24,2424,4,4,53,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
17,18,30,8072,2,3,25,3,1,1,1,...,0,0,0,0,1,0,1,0,0,0
18,19,24,12579,4,2,44,1,1,0,1,...,1,0,1,0,0,0,0,0,0,1
19,20,24,3430,3,2,31,1,2,1,1,...,0,0,1,0,1,0,1,0,0,1
20,21,9,2134,4,4,48,3,1,1,1,...,0,0,1,0,1,0,1,0,0,1
21,22,6,2647,2,3,44,1,2,1,1,...,0,1,1,0,0,1,1,0,0,0
22,23,10,2241,1,3,48,2,2,1,0,...,0,1,1,0,0,1,0,0,1,0
23,24,12,1804,3,4,44,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
24,25,10,2069,2,1,26,2,1,1,0,...,0,0,1,0,1,0,1,0,0,0
25,26,6,1374,1,2,36,1,1,1,1,...,0,1,0,0,1,0,0,0,1,1
26,27,6,426,4,4,39,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
27,28,12,409,3,3,42,2,1,1,1,...,0,1,1,0,0,1,1,0,0,0
28,29,7,2415,3,2,34,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
29,30,60,6836,3,4,63,2,1,0,1,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,764,21,12680,4,4,30,1,1,0,1,...,1,0,1,0,0,0,0,0,0,1
764,765,24,2463,4,3,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
765,766,12,1155,3,3,40,2,1,1,1,...,0,1,0,0,1,0,0,0,1,0
766,767,30,3108,2,4,31,1,1,0,1,...,0,0,1,0,1,0,0,0,1,0
767,768,10,2901,1,4,31,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0
768,769,12,3617,1,4,28,3,1,1,1,...,0,0,1,0,0,1,1,0,0,1
769,770,12,1655,2,4,63,2,1,1,1,...,0,1,1,0,1,0,0,0,1,1
770,771,24,2812,2,4,26,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0
771,772,36,8065,3,2,25,2,1,0,1,...,1,0,1,0,1,0,0,0,0,1
772,773,21,3275,1,4,36,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
773,774,24,2223,4,4,52,2,1,1,1,...,0,0,0,0,1,0,1,0,0,0
774,775,12,1480,2,4,66,3,1,1,1,...,1,0,0,0,0,0,0,1,0,0
775,776,24,1371,4,4,25,1,1,0,1,...,0,1,1,0,0,1,1,0,0,0
776,777,36,3535,4,4,37,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
777,778,18,3509,4,1,25,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
778,779,36,5711,4,2,38,2,1,1,1,...,0,0,1,0,1,0,0,0,0,1
779,780,18,3872,2,4,67,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
780,781,39,4933,2,2,25,2,1,0,1,...,0,1,1,0,1,0,1,0,0,0
781,782,24,1940,4,4,60,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
782,783,12,1410,2,2,31,1,1,1,1,...,0,1,1,0,1,0,0,0,1,1
783,784,12,836,4,2,23,1,1,0,1,...,0,0,0,0,1,0,0,0,1,0
784,785,20,6468,1,4,60,1,1,1,1,...,0,1,1,0,1,0,0,0,0,1
785,786,18,1941,4,2,35,1,1,1,1,...,0,0,1,0,1,0,0,0,1,1
786,787,22,2675,3,4,40,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
787,788,48,2751,4,3,38,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
788,789,48,6224,4,4,50,1,1,0,1,...,1,0,1,0,0,0,1,0,0,0
789,790,40,5998,4,3,27,1,1,0,1,...,1,0,0,0,1,0,1,0,0,1
790,791,21,1188,2,4,39,1,2,0,1,...,0,0,1,0,1,0,1,0,0,0
791,792,24,6313,3,4,41,1,2,1,1,...,0,0,1,0,1,0,0,0,0,1
792,793,6,1221,1,2,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0

In [0]:
import numpy as np

In [0]:
# shape of training data
print('Data Dimensionality: ', data_training.shape)

Data Dimensionality:  (793, 50)

In [0]:
# attribute names of training data
print('Attribute Names: ')
list(data_training.columns.values)

Attribute Names:

['id',
 'duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'age',
 'existing_credits',
 'num_dependents',
 'label',
 'f_worker',
 'checking_status_<0',
 'checking_status_>=200',
 'checking_status_no checking',
 'credit_history_critical/other existing credit',
 'credit_history_delayed previously',
 'credit_history_existing paid',
 'credit_history_no credits/all paid',
 'purpose_domestic appliance',
 'purpose_education',
 'purpose_furniture/equipment',
 'purpose_new car',
 'purpose_other',
 'purpose_radio/tv',
 'purpose_repairs',
 'purpose_retraining',
 'purpose_used car',
 'savings_status_500<=X<1000',
 'savings_status_<100',
 'savings_status_>=1000',
 'savings_status_no known savings',
 'employment_4<=X<7',
 'employment_<1',
 'employment_>=7',
 'employment_unemployed',
 'personal_status_male div/sep',
 'personal_status_male mar/wid',
 'personal_status_male single',
 'other_parties_guarantor',
 'other_parties_none',
 'property_magnitude_life insurance',
 'property_magnitude_no known property',
 'property_magnitude_real estate',
 'other_payment_plans_none',
 'other_payment_plans_stores',
 'housing_own',
 'housing_rent',
 'job_skilled',
 'job_unemp/unskilled non res',
 'job_unskilled resident',
 'own_telephone_yes']

In [0]:
# first 5 rows in training data
print('Head of Data: ')
data_training.head(5)

Head of Data:

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
0,1,6,1169,4,4,67,2,1,1,1,...,0,1,1,0,1,0,1,0,0,1
1,2,48,5951,2,2,22,1,1,0,1,...,0,1,1,0,1,0,1,0,0,0
2,3,12,2096,2,3,49,1,2,1,1,...,0,1,1,0,1,0,0,0,1,0
3,4,42,7882,2,4,45,1,2,1,1,...,0,0,1,0,0,0,1,0,0,0
4,5,24,4870,3,4,53,2,2,0,1,...,1,0,1,0,0,0,1,0,0,0

In [0]:
data_training.describe()

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
count,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,...,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000
mean,397.000000,20.682219,3194.818411,2.967213,2.834805,35.382093,1.397226,1.147541,0.699874,0.965952,...,0.158890,0.287516,0.814628,0.044136,0.716267,0.172762,0.627995,0.020177,0.201765,0.398487
std,229.063674,12.189886,2737.322282,1.128794,1.107458,11.454743,0.570612,0.354868,0.458602,0.181467,...,0.365804,0.452890,0.388844,0.205527,0.451093,0.378280,0.483645,0.140693,0.401571,0.489896
min,1.000000,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,199.000000,12.000000,1344.000000,2.000000,2.000000,27.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,397.000000,18.000000,2279.000000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,595.000000,24.000000,3915.000000,4.000000,4.000000,41.000000,2.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,793.000000,72.000000,15945.000000,4.000000,4.000000,75.000000,4.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [0]:
from sklearn.utils import shuffle

In [0]:
# Shuffle the training data
data_training = shuffle(data_training)

In [0]:
data_training

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
572,573,24,5433,2,4,26,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
278,279,6,4611,1,4,32,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
311,312,24,5511,4,1,25,1,1,1,1,...,0,0,0,1,1,0,1,0,0,0
535,536,21,2319,2,1,33,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
727,728,18,1882,4,4,25,2,1,0,1,...,0,0,0,0,0,1,1,0,0,0
226,227,48,10961,1,2,27,2,1,0,1,...,1,0,0,0,1,0,1,0,0,1
414,415,24,1381,4,2,35,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
255,256,60,7418,1,1,27,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
386,387,18,1126,4,2,21,1,1,1,1,...,0,1,1,0,0,1,1,0,0,1
487,488,24,3757,4,4,62,1,1,1,1,...,1,0,1,0,0,0,1,0,0,1
644,645,18,1880,4,1,32,2,1,1,1,...,0,0,1,0,1,0,0,0,0,1
398,399,12,1223,1,1,46,2,1,0,1,...,0,1,1,0,0,1,1,0,0,0
555,556,12,1331,2,1,22,1,1,0,1,...,0,0,0,1,1,0,1,0,0,0
567,568,24,2578,2,2,34,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
234,235,4,1544,2,1,42,3,2,1,1,...,0,1,1,0,1,0,0,0,1,0
673,674,6,2080,1,2,24,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
792,793,6,1221,1,2,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
679,680,18,1453,3,1,26,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
220,221,12,625,4,1,26,1,1,1,1,...,0,1,0,0,1,0,0,0,1,0
399,400,24,1516,4,1,43,2,1,1,1,...,0,1,1,0,1,0,0,0,1,0
37,38,18,2100,4,2,37,1,1,0,1,...,0,1,0,1,1,0,1,0,0,0
725,726,6,250,2,2,41,2,1,1,1,...,0,1,0,0,1,0,0,0,1,0
676,677,24,5150,4,4,33,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
627,628,9,1437,2,3,29,1,1,0,1,...,1,0,1,0,1,0,1,0,0,0
611,612,10,1240,1,4,48,1,2,0,1,...,1,0,1,0,0,0,0,0,1,0
72,73,8,1164,3,4,51,2,2,1,1,...,1,0,0,0,0,0,0,0,0,1
209,210,12,1413,3,2,55,1,1,1,0,...,0,0,1,0,1,0,1,0,0,0
473,474,6,1238,4,4,36,1,2,1,1,...,0,0,1,0,1,0,0,0,0,1
675,676,30,4530,4,4,26,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
524,525,18,1113,4,4,26,1,2,1,1,...,0,1,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,12,1768,3,2,24,1,1,1,1,...,0,1,1,0,0,1,0,0,1,0
477,478,24,5152,4,2,25,1,1,1,1,...,0,0,0,0,1,0,1,0,0,0
145,146,48,3566,4,2,30,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
225,226,36,2613,4,2,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
188,189,12,674,4,1,20,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
106,107,18,6458,2,4,39,2,2,0,1,...,1,0,0,0,1,0,0,0,0,1
385,386,18,2238,2,1,25,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
546,547,24,2022,4,4,37,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
89,90,12,1108,4,3,28,2,1,0,1,...,0,1,1,0,1,0,1,0,0,0
99,100,20,7057,3,4,36,2,2,1,1,...,0,0,0,0,0,1,0,0,0,1
781,782,24,1940,4,4,60,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
541,542,24,2032,4,4,60,2,1,1,1,...,1,0,1,0,0,0,1,0,0,1
635,636,12,1393,4,4,47,3,2,1,1,...,0,0,0,0,1,0,1,0,0,1
204,205,12,1495,4,1,38,2,2,1,1,...,0,1,1,0,1,0,0,0,1,0
71,72,7,730,4,2,46,2,1,1,1,...,0,0,1,0,0,1,0,0,1,1
710,711,18,629,4,3,32,2,1,1,1,...,0,0,0,0,1,0,0,0,0,1
138,139,15,2728,4,2,35,3,1,1,1,...,0,1,0,0,1,0,1,0,0,1
619,620,12,640,4,2,49,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
154,155,24,6967,4,4,36,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
307,308,12,727,4,3,33,1,1,0,1,...,1,0,1,0,1,0,0,0,1,1
401,402,18,1887,4,4,28,2,1,1,1,...,0,1,0,0,1,0,1,0,0,0
10,11,12,1295,3,1,25,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
372,373,10,2146,1,3,23,2,1,1,1,...,0,1,1,0,0,1,1,0,0,0
246,247,12,717,4,4,52,3,1,1,1,...,0,1,1,0,1,0,1,0,0,0
716,717,30,3077,3,2,40,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
198,199,24,2760,4,4,36,1,1,1,1,...,1,0,0,0,0,0,1,0,0,1
48,49,11,7228,1,4,39,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
585,586,18,2039,1,4,20,1,1,0,1,...,0,1,0,0,0,1,1,0,0,0
787,788,48,2751,4,3,38,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
171,172,12,763,4,1,26,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train,validation = train_test_split(data_training, test_size = 0.2)

In [0]:
train

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
583,584,36,2384,4,1,33,1,1,0,1,...,1,0,1,0,0,1,0,0,1,0
177,178,6,338,4,4,52,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
737,738,18,4380,3,4,35,1,2,1,1,...,0,0,1,0,1,0,0,0,1,1
188,189,12,674,4,1,20,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
739,740,30,4280,4,4,26,2,1,0,1,...,0,0,1,0,0,1,0,0,1,0
501,502,36,5493,2,4,42,1,2,1,1,...,1,0,1,0,0,0,1,0,0,0
428,429,9,1313,1,4,20,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
286,287,48,4788,4,3,26,1,2,1,1,...,0,0,1,0,1,0,1,0,0,0
389,390,9,1449,3,2,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
213,214,30,1908,4,4,66,1,1,0,1,...,0,1,1,0,1,0,0,0,0,1
553,554,12,1995,4,1,27,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
119,120,12,2366,3,3,36,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
251,252,12,2251,1,2,46,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
138,139,15,2728,4,2,35,3,1,1,1,...,0,1,0,0,1,0,1,0,0,1
302,303,24,1344,4,2,37,2,2,0,1,...,0,1,0,0,1,0,0,0,1,0
269,270,24,999,4,2,25,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
284,285,24,3878,4,2,37,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
449,450,15,1512,3,3,61,2,1,0,1,...,0,0,0,1,1,0,1,0,0,0
774,775,12,1480,2,4,66,3,1,1,1,...,1,0,0,0,0,0,0,1,0,0
146,147,6,860,1,4,39,2,1,1,1,...,1,0,1,0,1,0,1,0,0,1
368,369,36,3446,4,2,42,1,2,0,1,...,0,0,1,0,1,0,1,0,0,0
759,760,12,691,4,3,35,2,1,0,1,...,0,0,1,0,1,0,1,0,0,0
153,154,24,7758,2,4,29,1,1,1,1,...,1,0,1,0,0,1,1,0,0,0
494,495,12,2122,3,2,39,2,2,1,0,...,0,1,1,0,0,1,0,0,1,0
152,153,36,5848,4,1,24,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
366,367,18,3850,3,1,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
558,559,24,3552,3,4,27,1,1,0,1,...,0,0,0,0,1,0,1,0,0,0
399,400,24,1516,4,1,43,2,1,1,1,...,0,1,1,0,1,0,0,0,1,0
426,427,28,2743,4,2,29,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
713,714,9,1138,4,4,25,2,1,1,1,...,0,1,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,479,12,1037,3,4,39,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
224,225,15,4657,3,2,30,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
698,699,18,1800,4,2,24,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
505,506,10,1309,4,4,27,1,1,0,1,...,0,0,1,0,1,0,0,0,1,0
350,351,9,1236,1,4,23,1,1,1,1,...,0,1,1,0,0,1,1,0,0,1
96,97,12,2012,4,2,61,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
95,96,54,15945,3,4,58,1,1,0,1,...,1,0,1,0,0,1,1,0,0,1
336,337,13,2101,2,4,23,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
590,591,12,385,4,3,58,4,1,1,1,...,0,1,1,0,1,0,0,0,1,1
537,538,18,3612,3,4,37,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
783,784,12,836,4,2,23,1,1,0,1,...,0,0,0,0,1,0,0,0,1,0
81,82,15,1213,4,3,47,1,1,1,1,...,0,0,0,1,1,0,1,0,0,1
39,40,9,458,4,3,24,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
107,108,12,6078,2,2,32,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
693,694,6,4716,1,3,44,2,2,1,1,...,0,1,1,0,1,0,0,0,1,0
608,609,18,2051,4,1,33,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
75,76,12,1526,4,4,66,2,1,1,1,...,1,0,1,0,0,0,0,0,0,0
515,516,6,609,4,3,37,2,1,1,0,...,0,0,1,0,1,0,1,0,0,0
606,607,24,4526,3,2,74,1,1,1,1,...,0,1,1,0,1,0,0,0,0,1
464,465,18,1950,4,1,34,2,1,1,1,...,0,0,0,1,1,0,1,0,0,1
12,13,12,1567,1,1,22,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
322,323,24,2910,2,1,34,1,1,1,1,...,1,0,1,0,0,0,0,0,0,1
752,753,12,841,2,4,23,1,1,1,1,...,0,1,1,0,0,1,0,0,1,0
424,425,12,2762,1,2,25,1,1,0,1,...,0,0,0,0,1,0,1,0,0,1
542,543,30,6350,4,4,31,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
230,231,36,4210,4,2,26,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
596,597,24,1442,4,4,23,2,1,0,1,...,0,0,1,0,0,1,1,0,0,0
427,428,18,1149,4,3,46,2,1,1,1,...,0,1,1,0,1,0,1,0,0,0
214,215,36,3342,4,2,51,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
791,792,24,6313,3,4,41,1,2,1,1,...,0,0,1,0,1,0,0,0,0,1

In [0]:
print("Training size: {}", len(train))

Training size: {} 634

In [0]:
validation

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
418,419,21,2782,1,2,31,1,1,1,1,...,0,0,0,0,1,0,0,0,0,0
315,316,36,2746,4,4,31,1,1,0,1,...,0,0,0,0,1,0,1,0,0,0
662,663,21,2241,4,2,50,2,1,1,1,...,0,1,1,0,1,0,1,0,0,0
728,729,48,6416,4,3,59,1,1,0,1,...,1,0,1,0,0,1,1,0,0,0
359,360,30,2406,4,4,23,1,1,0,1,...,0,1,1,0,0,1,1,0,0,0
140,141,6,709,2,2,27,1,1,1,0,...,0,1,1,0,1,0,0,1,0,0
385,386,18,2238,2,1,25,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
7,8,36,6948,2,2,35,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
764,765,24,2463,4,3,27,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
674,675,21,2580,4,2,41,1,2,0,1,...,0,1,0,0,1,0,0,0,1,0
482,483,30,3622,4,4,57,2,1,1,1,...,0,0,1,0,0,1,1,0,0,1
326,327,12,5801,2,4,49,1,1,1,1,...,0,0,1,0,0,1,1,0,0,1
401,402,18,1887,4,4,28,2,1,1,1,...,0,1,0,0,1,0,1,0,0,0
502,503,9,1126,2,4,49,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
668,669,12,4843,3,4,43,2,1,0,1,...,0,0,1,0,0,1,1,0,0,1
665,666,24,6314,4,2,27,2,1,1,1,...,1,0,0,0,1,0,0,0,0,1
790,791,21,1188,2,4,39,1,2,0,1,...,0,0,1,0,1,0,1,0,0,0
241,242,6,1595,3,2,51,1,2,1,1,...,0,0,1,0,1,0,1,0,0,0
574,575,9,1082,4,4,27,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
197,198,12,951,4,4,27,4,1,0,1,...,0,0,0,0,0,1,1,0,0,0
408,409,24,3235,3,2,26,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
293,294,42,4796,4,4,56,1,1,1,1,...,1,0,1,0,0,0,1,0,0,0
582,583,9,1388,4,2,26,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0
407,408,15,1053,4,2,27,1,1,1,0,...,0,1,1,0,1,0,1,0,0,0
421,422,12,2028,4,2,30,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
130,131,48,8487,1,2,24,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
124,125,18,1924,4,3,27,1,1,0,1,...,0,1,1,0,0,1,1,0,0,0
94,95,12,1318,4,4,54,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
423,424,21,1591,4,3,34,2,1,1,1,...,0,1,1,0,1,0,0,0,0,0
26,27,6,426,4,4,39,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,752,18,976,1,2,23,1,1,0,1,...,0,0,1,0,1,0,0,0,1,0
780,781,39,4933,2,2,25,2,1,0,1,...,0,1,1,0,1,0,1,0,0,0
43,44,30,6187,1,4,24,2,1,1,1,...,0,0,1,0,0,1,1,0,0,0
722,723,12,1228,4,2,24,1,1,0,1,...,0,1,1,0,1,0,0,0,1,0
430,431,5,3448,1,4,74,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
317,318,24,4351,1,4,48,1,1,1,1,...,0,0,1,0,1,0,0,0,1,1
367,368,18,3650,1,4,22,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
565,566,24,1553,3,2,23,2,1,1,1,...,0,0,1,0,0,1,1,0,0,1
304,305,48,10127,2,2,44,1,1,0,1,...,1,0,0,0,0,0,1,0,0,0
260,261,12,1657,2,2,27,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
391,392,12,983,1,4,19,1,1,1,1,...,0,1,1,0,0,1,0,0,1,0
718,719,24,3148,3,2,31,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
113,114,36,7855,4,2,25,2,1,0,1,...,0,1,0,1,1,0,1,0,0,1
323,324,18,2659,4,2,28,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
265,266,15,802,4,3,37,1,2,0,1,...,0,0,1,0,1,0,1,0,0,0
380,381,20,2212,4,4,39,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
89,90,12,1108,4,3,28,2,1,0,1,...,0,1,1,0,1,0,1,0,0,0
60,61,9,1391,2,1,27,1,1,1,1,...,0,1,0,0,1,0,1,0,0,1
594,595,24,1358,4,3,40,1,1,0,1,...,0,0,0,1,1,0,0,0,0,1
627,628,9,1437,2,3,29,1,1,0,1,...,1,0,1,0,1,0,1,0,0,0
314,315,4,1494,1,2,29,1,2,1,0,...,0,1,1,0,1,0,0,0,1,0
736,737,24,11560,1,4,23,2,1,0,1,...,0,0,1,0,0,1,0,0,0,0
352,353,18,3229,2,4,38,1,1,1,1,...,1,0,1,0,1,0,0,0,0,1
532,533,12,1503,4,4,41,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0
468,469,33,2764,2,2,26,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
402,403,24,8648,2,2,27,2,1,0,1,...,0,0,0,0,1,0,1,0,0,1
487,488,24,3757,4,4,62,1,1,1,1,...,1,0,1,0,0,0,1,0,0,1
337,338,15,1275,4,2,24,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
254,255,9,2030,2,1,24,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
776,777,36,3535,4,4,37,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1

In [0]:
print("Validation size: ", len(validation))

Validation size:  159

In [0]:
training = data_training.drop("label", axis = 1)
training.shape

(793, 49)

In [0]:
y_training = data_training["label"]
y_training.shape

(793,)

In [0]:
attributes = ["id", "credit_amount", "age", "residence_since", "duration", "existing_credits", "num_dependents", "installment_commitment", "f_worker", "checking_status_<0", "checking_status_>=200", "checking_status_no checking", "credit_history_critical/other existing credit", "credit_history_delayed previously", "credit_history_existing paid", "credit_history_no credits/all paid", "purpose_domestic appliance", "purpose_education", "purpose_furniture/equipment", "purpose_new car", "purpose_other", "purpose_radio/tv", "purpose_repairs", "purpose_retraining", "purpose_used car", "savings_status_500<=X<1000", "savings_status_<100", "savings_status_>=1000", "savings_status_no known savings", "employment_4<=X<7", "employment_<1", "employment_>=7", "employment_unemployed", "personal_status_male div/sep", "personal_status_male mar/wid", "personal_status_male single", "other_parties_guarantor", "other_parties_none", "property_magnitude_life insurance", "property_magnitude_no known property", "property_magnitude_real estate", "other_payment_plans_none", "other_payment_plans_stores", "housing_own", "housing_rent", "job_skilled", "job_unemp/unskilled non res", "job_unskilled resident", "own_telephone_yes"]
label = y_training

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y = le.fit_transform(y_training.values)

In [0]:
train,test = train_test_split(data_training, test_size = 0.2)

In [0]:
x_train = train[attributes]
y_train = train["label"]
x_test = test[attributes]
y_test = test["label"]

In [0]:
from sklearn.metrics import accuracy_score, confusion_matrix, mean_squared_error
from sklearn.tree import DecisionTreeClassifier

In [0]:
C = DecisionTreeClassifier(min_samples_split=1.0)

In [0]:
dt = C.fit(x_train,y_train)

In [0]:
y_pred = C.predict(x_test)
print("accuracy score: %.2f" % accuracy_score(y_test, y_pred))

accuracy score: 0.75

In [0]:
C2 = DecisionTreeClassifier(min_samples_split=3)

In [0]:
dt2 = C2.fit(x_train,y_train)

In [0]:
y_pred2 = C2.predict(x_test)
print("accuracy score: %.2f" % accuracy_score(y_test, y_pred2))

accuracy score: 0.69

In [0]:
C3 = DecisionTreeClassifier(min_samples_split=5)

In [0]:
dt3 = C3.fit(x_train,y_train)

In [0]:
y_pred3 = C3.predict(x_test)
print("accuracy score: %.2f" % accuracy_score(y_test, y_pred3))

accuracy score: 0.69

In [0]:
data_testing = pd.read_csv('credit-german-test_num.csv')

In [0]:
data_testing

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
0,1,24,2892,3,4,51,1,1,1,1,...,1,0,1,0,0,0,1,0,0,0
1,2,24,3062,4,3,32,1,1,1,1,...,1,0,1,0,0,1,1,0,0,1
2,3,9,2301,2,4,22,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
3,4,18,7511,1,4,51,1,2,0,1,...,0,0,1,0,0,0,1,0,0,1
4,5,12,1258,2,4,22,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0
5,6,24,717,4,4,54,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
6,7,9,1549,4,2,35,1,1,1,1,...,0,1,1,0,1,0,0,1,0,0
7,8,24,1597,4,4,54,2,2,1,1,...,1,0,1,0,0,0,1,0,0,0
8,9,18,1795,3,4,48,2,1,1,1,...,0,1,0,0,0,1,0,0,1,1
9,10,20,4272,1,4,24,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
10,11,12,976,4,4,35,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
11,12,12,7472,1,2,24,1,1,1,1,...,0,1,1,0,0,1,0,1,0,0
12,13,36,9271,2,1,24,1,1,0,1,...,0,0,1,0,1,0,1,0,0,1
13,14,6,590,3,3,26,1,1,1,0,...,0,1,1,0,1,0,0,0,1,0
14,15,12,930,4,4,65,4,1,1,1,...,0,1,1,0,1,0,1,0,0,0
15,16,42,9283,1,2,55,1,1,1,1,...,1,0,0,0,0,0,0,0,0,1
16,17,15,1778,2,1,26,2,1,0,1,...,0,1,1,0,0,1,0,1,0,0
17,18,8,907,3,2,26,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
18,19,6,484,3,3,28,1,1,1,1,...,0,1,0,0,1,0,0,0,1,0
19,20,36,9629,4,4,24,2,1,0,1,...,0,0,1,0,1,0,1,0,0,1
20,21,48,3051,3,4,54,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
21,22,48,3931,4,4,46,1,2,0,1,...,1,0,1,0,0,0,1,0,0,0
22,23,36,7432,2,2,54,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
23,24,6,1338,1,4,62,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
24,25,6,1554,1,2,24,2,1,1,1,...,0,0,1,0,0,1,1,0,0,1
25,26,36,15857,2,3,43,1,1,1,1,...,0,0,1,0,1,0,0,0,0,0
26,27,18,1345,4,3,26,1,1,0,1,...,0,1,0,0,1,0,1,0,0,0
27,28,12,1101,3,2,27,2,1,1,1,...,0,1,1,0,1,0,1,0,0,1
28,29,12,3016,3,1,24,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
29,30,36,2712,2,2,41,1,2,0,1,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,178,15,1514,4,2,22,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
178,179,24,7393,1,4,43,1,2,1,1,...,0,0,1,0,1,0,0,0,1,0
179,180,24,1193,1,4,29,2,1,0,1,...,1,0,1,0,0,1,0,1,0,0
180,181,60,7297,4,4,36,1,1,0,1,...,1,0,1,0,0,1,1,0,0,0
181,182,30,2831,4,2,33,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
182,183,24,1258,3,3,57,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
183,184,6,753,2,3,64,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
184,185,18,2427,4,2,42,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
185,186,24,2538,4,4,47,2,2,0,1,...,0,0,1,0,1,0,0,0,1,0
186,187,15,1264,2,2,25,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
187,188,30,8386,2,2,49,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
188,189,48,4844,3,2,33,1,1,0,1,...,0,0,0,0,0,1,0,0,0,1
189,190,21,2923,1,1,28,1,1,1,1,...,0,0,0,0,1,0,0,0,0,1
190,191,36,8229,2,2,26,1,2,0,1,...,0,0,1,0,1,0,1,0,0,0
191,192,24,2028,2,2,30,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
192,193,15,1433,4,3,25,2,1,1,1,...,0,0,1,0,0,1,1,0,0,0
193,194,42,6289,2,1,33,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
194,195,13,1409,2,4,64,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
195,196,24,6579,4,2,29,1,1,1,1,...,1,0,1,0,0,0,0,0,0,1
196,197,24,1743,4,2,48,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
197,198,12,3565,2,1,37,2,2,1,1,...,0,0,1,0,1,0,0,0,1,0
198,199,15,1569,4,4,34,1,2,1,1,...,0,0,0,0,1,0,0,0,1,0
199,200,18,1936,2,4,23,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0
200,201,36,3959,4,3,30,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
201,202,12,2390,4,3,50,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
202,203,12,1736,3,4,31,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
203,204,30,3857,4,4,40,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
204,205,12,804,4,4,38,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
205,206,45,1845,4,4,23,1,1,0,1,...,1,0,1,0,0,0,1,0,0,1
206,207,45,4576,3,4,27,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0

In [0]:
# shape of testing data
print('Data Dimensionality: ', data_testing.shape)

Data Dimensionality:  (207, 50)

In [0]:
# attribute names of testing data
print('Attribute Names: ')
list(data_testing.columns.values)

Attribute Names:

['id',
 'duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'age',
 'existing_credits',
 'num_dependents',
 'label',
 'f_worker',
 'checking_status_<0',
 'checking_status_>=200',
 'checking_status_no checking',
 'credit_history_critical/other existing credit',
 'credit_history_delayed previously',
 'credit_history_existing paid',
 'credit_history_no credits/all paid',
 'purpose_domestic appliance',
 'purpose_education',
 'purpose_furniture/equipment',
 'purpose_new car',
 'purpose_other',
 'purpose_radio/tv',
 'purpose_repairs',
 'purpose_retraining',
 'purpose_used car',
 'savings_status_500<=X<1000',
 'savings_status_<100',
 'savings_status_>=1000',
 'savings_status_no known savings',
 'employment_4<=X<7',
 'employment_<1',
 'employment_>=7',
 'employment_unemployed',
 'personal_status_male div/sep',
 'personal_status_male mar/wid',
 'personal_status_male single',
 'other_parties_guarantor',
 'other_parties_none',
 'property_magnitude_life insurance',
 'property_magnitude_no known property',
 'property_magnitude_real estate',
 'other_payment_plans_none',
 'other_payment_plans_stores',
 'housing_own',
 'housing_rent',
 'job_skilled',
 'job_unemp/unskilled non res',
 'job_unskilled resident',
 'own_telephone_yes']

In [0]:
# first 5 rows in testing data
print('Head of Data: ')
data_testing.head(5)

Head of Data:

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
0,1,24,2892,3,4,51,1,1,1,1,...,1,0,1,0,0,0,1,0,0,0
1,2,24,3062,4,3,32,1,1,1,1,...,1,0,1,0,0,1,1,0,0,1
2,3,9,2301,2,4,22,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
3,4,18,7511,1,4,51,1,2,0,1,...,0,0,1,0,0,0,1,0,0,1
4,5,12,1258,2,4,22,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0

In [0]:
data_testing.describe()

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,...,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,104.000000,21.748792,3564.091787,2.995169,2.884058,36.173913,1.444444,1.183575,0.700483,0.951691,...,0.135266,0.260870,0.811594,0.057971,0.700483,0.202899,0.637681,0.028986,0.193237,0.425121
std,59.899917,11.532339,3118.289593,1.081610,1.091043,11.071204,0.603835,0.388076,0.459157,0.214939,...,0.342836,0.440173,0.391984,0.234255,0.459157,0.403133,0.481836,0.168172,0.395794,0.495560
min,1.000000,4.000000,454.000000,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,52.500000,12.000000,1472.500000,2.000000,2.000000,28.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,104.000000,20.000000,2439.000000,3.000000,3.000000,34.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,155.500000,27.000000,4049.500000,4.000000,4.000000,43.000000,2.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,207.000000,60.000000,18424.000000,4.000000,4.000000,68.000000,4.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [0]:
# Shuffle the testing data
data_testing = shuffle(data_testing)

In [0]:
data_testing

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
196,197,24,1743,4,2,48,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
140,141,12,522,4,4,42,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
73,74,18,2389,4,1,27,1,1,1,1,...,0,0,0,1,1,0,1,0,0,0
86,87,30,6742,2,3,36,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
91,92,24,4057,3,3,43,1,1,0,1,...,0,0,1,0,1,0,1,0,0,1
52,53,21,3976,2,3,35,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
156,157,24,3621,2,4,31,2,1,0,1,...,0,0,1,0,1,0,1,0,0,0
70,71,27,4526,4,2,32,2,2,1,1,...,0,1,0,1,1,0,0,0,1,1
175,176,42,7166,2,4,29,1,1,1,1,...,0,0,1,0,0,1,1,0,0,1
64,65,15,3343,4,2,28,1,1,1,1,...,1,0,1,0,0,0,1,0,0,1
170,171,24,2397,3,2,35,2,1,0,1,...,0,0,0,0,1,0,1,0,0,1
198,199,15,1569,4,4,34,1,2,1,1,...,0,0,0,0,1,0,0,0,1,0
69,70,24,2439,4,4,35,1,1,0,1,...,0,1,1,0,1,0,1,0,0,1
162,163,24,1231,4,4,57,2,1,1,1,...,0,0,1,0,0,1,0,0,0,1
9,10,20,4272,1,4,24,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
182,183,24,1258,3,3,57,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
126,127,24,3345,4,2,39,1,1,0,1,...,0,0,1,0,0,1,0,0,0,1
95,96,36,6614,4,4,34,2,1,1,1,...,0,0,1,0,1,0,0,0,0,1
97,98,27,2442,4,4,43,4,2,1,1,...,0,0,0,1,1,0,0,0,0,1
151,152,15,1845,4,1,46,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
149,150,24,929,4,2,31,1,1,1,1,...,0,0,0,1,1,0,1,0,0,1
40,41,24,5084,2,4,42,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
60,61,18,1442,4,4,32,2,2,0,1,...,1,0,1,0,0,0,0,0,1,0
145,146,60,6288,4,4,42,1,1,0,1,...,1,0,1,0,0,0,1,0,0,0
200,201,36,3959,4,3,30,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
31,32,18,3780,3,2,35,2,1,1,1,...,0,0,1,0,1,0,0,0,0,1
163,164,30,3656,4,4,49,2,1,1,1,...,0,0,0,1,1,0,0,0,1,0
183,184,6,753,2,3,64,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
195,196,24,6579,4,2,29,1,1,1,1,...,1,0,1,0,0,0,0,0,0,1
77,78,36,7678,2,4,40,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,27,18,1345,4,3,26,1,1,0,1,...,0,1,0,0,1,0,1,0,0,0
50,51,24,1559,4,4,50,1,1,1,1,...,0,0,0,0,1,0,1,0,0,1
172,173,30,1715,4,1,26,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
61,62,36,10875,2,2,45,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
138,139,9,1670,4,2,22,1,1,0,1,...,0,0,1,0,1,0,1,0,0,1
44,45,4,601,1,3,23,1,2,1,1,...,0,1,1,0,0,1,0,0,1,0
114,115,36,3711,2,2,27,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
167,168,6,1740,2,2,30,2,1,1,1,...,0,1,1,0,0,1,1,0,0,0
35,36,36,8335,3,4,47,1,1,0,1,...,1,0,1,0,0,0,1,0,0,0
42,43,12,1082,4,4,48,2,1,0,1,...,0,0,0,0,1,0,1,0,0,0
108,109,20,3485,2,4,44,2,1,1,1,...,0,1,1,0,1,0,1,0,0,1
98,99,15,1829,4,4,46,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
125,126,24,2359,1,1,33,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
154,155,12,2859,4,4,38,1,1,1,1,...,1,0,1,0,1,0,0,0,0,1
158,159,36,2145,2,1,24,2,1,0,1,...,0,0,1,0,1,0,1,0,0,1
43,44,12,886,4,2,21,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
193,194,42,6289,2,1,33,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
62,63,24,1474,4,3,33,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
67,68,24,5804,4,2,27,2,1,1,1,...,0,1,1,0,1,0,1,0,0,0
169,170,15,3556,3,2,29,1,1,1,1,...,1,0,1,0,1,0,1,0,0,0
7,8,24,1597,4,4,54,2,2,1,1,...,1,0,1,0,0,0,1,0,0,0
160,161,36,10974,4,2,26,2,1,0,1,...,0,0,1,0,1,0,0,0,0,1
0,1,24,2892,3,4,51,1,1,1,1,...,1,0,1,0,0,0,1,0,0,0
10,11,12,976,4,4,35,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
8,9,18,1795,3,4,48,2,1,1,1,...,0,1,0,0,0,1,0,0,1,1
206,207,45,4576,3,4,27,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
17,18,8,907,3,2,26,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
189,190,21,2923,1,1,28,1,1,1,1,...,0,0,0,0,1,0,0,0,0,1
118,119,24,4736,2,4,25,1,1,0,1,...,0,0,0,0,1,0,0,0,1,0
135,136,30,1867,4,4,58,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1

In [0]:
traint,validationt = train_test_split(data_testing, test_size = 0.2)

In [0]:
traint

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
100,101,36,5800,3,4,34,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
26,27,18,1345,4,3,26,1,1,0,1,...,0,1,0,0,1,0,1,0,0,0
1,2,24,3062,4,3,32,1,1,1,1,...,1,0,1,0,0,1,1,0,0,1
114,115,36,3711,2,2,27,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
151,152,15,1845,4,1,46,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
33,34,18,3966,1,4,33,3,1,0,1,...,0,1,0,0,0,1,1,0,0,1
178,179,24,7393,1,4,43,1,2,1,1,...,0,0,1,0,1,0,0,0,1,0
10,11,12,976,4,4,35,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
206,207,45,4576,3,4,27,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
82,83,11,1322,4,4,40,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
30,31,8,731,4,4,47,2,1,1,1,...,0,1,1,0,1,0,0,0,1,0
41,42,15,2327,2,3,25,1,1,0,1,...,0,1,1,0,1,0,0,0,1,0
39,40,45,11816,2,4,29,2,1,0,1,...,0,0,1,0,0,1,1,0,0,0
185,186,24,2538,4,4,47,2,2,0,1,...,0,0,1,0,1,0,0,0,1,0
98,99,15,1829,4,4,46,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
51,52,18,3422,4,4,47,3,2,1,1,...,0,0,0,0,1,0,1,0,0,1
149,150,24,929,4,2,31,1,1,1,1,...,0,0,0,1,1,0,1,0,0,1
14,15,12,930,4,4,65,4,1,1,1,...,0,1,1,0,1,0,1,0,0,0
77,78,36,7678,2,4,40,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
60,61,18,1442,4,4,32,2,2,0,1,...,1,0,1,0,0,0,0,0,1,0
169,170,15,3556,3,2,29,1,1,1,1,...,1,0,1,0,1,0,1,0,0,0
22,23,36,7432,2,2,54,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
203,204,30,3857,4,4,40,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1
109,110,36,10477,2,4,42,2,1,1,1,...,1,0,1,0,0,0,1,0,0,0
136,137,12,1344,4,2,43,2,2,1,1,...,0,1,1,0,1,0,0,0,1,0
161,162,12,1893,4,4,29,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
198,199,15,1569,4,4,34,1,2,1,1,...,0,0,0,0,1,0,0,0,1,0
168,169,21,2353,1,4,47,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
83,84,18,1940,3,4,36,1,1,1,1,...,1,0,0,0,0,0,0,0,0,1
29,30,36,2712,2,2,41,1,2,0,1,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,103,36,8947,3,2,31,1,2,1,1,...,0,0,0,1,1,0,0,0,0,1
89,90,30,2181,4,4,36,2,1,1,1,...,0,1,1,0,1,0,1,0,0,0
141,142,12,1498,4,1,23,1,1,1,1,...,0,0,0,0,1,0,1,0,0,0
180,181,60,7297,4,4,36,1,1,0,1,...,1,0,1,0,0,1,1,0,0,0
195,196,24,6579,4,2,29,1,1,1,1,...,1,0,1,0,0,0,0,0,0,1
192,193,15,1433,4,3,25,2,1,1,1,...,0,0,1,0,0,1,1,0,0,0
93,94,24,2825,4,3,34,2,2,1,1,...,1,0,1,0,1,0,1,0,0,1
88,89,24,9277,2,4,48,1,1,1,1,...,1,0,1,0,0,0,1,0,0,1
5,6,24,717,4,4,54,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
4,5,12,1258,2,4,22,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0
160,161,36,10974,4,2,26,2,1,0,1,...,0,0,1,0,1,0,0,0,0,1
150,151,4,1455,2,1,42,3,2,1,1,...,0,1,1,0,1,0,0,0,1,0
105,106,15,2186,1,4,33,1,1,1,1,...,0,1,0,0,0,1,0,0,1,0
158,159,36,2145,2,1,24,2,1,0,1,...,0,0,1,0,1,0,1,0,0,1
65,66,15,3959,3,2,29,1,1,0,1,...,0,0,1,0,1,0,1,0,0,1
171,172,6,454,3,1,22,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
107,108,16,2625,2,4,43,1,1,0,1,...,0,0,0,0,0,1,1,0,0,1
91,92,24,4057,3,3,43,1,1,0,1,...,0,0,1,0,1,0,1,0,0,1
47,48,36,5179,4,2,29,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
81,82,12,3590,2,2,29,1,2,1,1,...,0,0,1,0,1,0,0,0,1,0
112,113,12,1107,2,2,20,1,2,1,1,...,0,1,1,0,0,1,0,0,0,1
142,143,30,1919,4,3,30,2,1,0,1,...,1,0,0,1,1,0,0,0,0,0
40,41,24,5084,2,4,42,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
129,130,9,1366,3,4,22,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
126,127,24,3345,4,2,39,1,1,0,1,...,0,0,1,0,0,1,0,0,0,1
55,56,9,1364,3,4,59,1,1,1,1,...,0,1,1,0,1,0,1,0,0,0
85,86,9,1422,3,2,27,1,1,0,1,...,1,0,1,0,0,0,0,0,0,1
159,160,24,4113,3,4,28,1,1,0,1,...,0,0,1,0,0,1,1,0,0,0
116,117,9,3195,1,2,33,1,1,1,1,...,0,1,1,0,1,0,0,0,1,0
200,201,36,3959,4,3,30,1,1,1,1,...,0,0,1,0,1,0,0,0,0,1

In [0]:
print("Training size: {}", len(traint))

Training size: {} 165

In [0]:
validationt

,id,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,label,f_worker,...,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,housing_own,housing_rent,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_yes
99,100,12,2171,4,4,38,2,1,1,0,...,0,0,0,0,1,0,0,0,1,0
115,116,15,3594,1,2,46,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
181,182,30,2831,4,2,33,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
64,65,15,3343,4,2,28,1,1,1,1,...,1,0,1,0,0,0,1,0,0,1
78,79,6,1343,1,4,46,2,2,1,0,...,0,1,1,0,1,0,1,0,0,0
36,37,48,6681,4,4,38,1,2,1,1,...,1,0,1,0,0,0,1,0,0,1
162,163,24,1231,4,4,57,2,1,1,1,...,0,0,1,0,0,1,0,0,0,1
199,200,18,1936,2,4,23,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0
2,3,9,2301,2,4,22,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
45,46,24,2957,4,4,63,2,1,1,1,...,0,0,1,0,1,0,1,0,0,1
16,17,15,1778,2,1,26,2,1,0,1,...,0,1,1,0,0,1,0,1,0,0
17,18,8,907,3,2,26,1,1,1,1,...,0,1,1,0,1,0,1,0,0,1
118,119,24,4736,2,4,25,1,1,0,1,...,0,0,0,0,1,0,0,0,1,0
173,174,27,2520,4,2,23,2,1,0,1,...,0,0,1,0,1,0,0,0,1,0
111,112,24,1278,4,1,36,1,1,1,1,...,0,1,1,0,1,0,0,0,0,1
140,141,12,522,4,4,42,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
43,44,12,886,4,2,21,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
84,85,36,3595,4,2,28,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
193,194,42,6289,2,1,33,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
72,73,15,2221,2,4,20,1,1,1,1,...,0,0,1,0,0,1,1,0,0,0
75,76,36,7409,3,2,37,2,1,1,1,...,0,0,1,0,1,0,1,0,0,0
66,67,9,3577,1,2,26,1,2,1,0,...,0,1,1,0,0,1,1,0,0,0
201,202,12,2390,4,3,50,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
95,96,36,6614,4,4,34,2,1,1,1,...,0,0,1,0,1,0,0,0,0,1
172,173,30,1715,4,1,26,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
174,175,15,3568,4,2,54,1,1,1,1,...,0,0,0,0,0,1,0,0,0,1
154,155,12,2859,4,4,38,1,1,1,1,...,1,0,1,0,1,0,0,0,0,1
156,157,24,3621,2,4,31,2,1,0,1,...,0,0,1,0,1,0,1,0,0,0
61,62,36,10875,2,2,45,2,2,1,1,...,0,0,1,0,1,0,1,0,0,1
155,156,18,1533,4,1,43,1,2,0,1,...,0,0,1,0,1,0,0,0,1,0
137,138,24,1747,4,1,24,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
119,120,30,2991,2,4,25,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
196,197,24,1743,4,2,48,2,1,1,1,...,0,0,1,0,1,0,0,0,1,0
63,64,10,894,4,3,40,1,1,1,1,...,0,0,1,0,1,0,1,0,0,1
57,58,20,2235,4,2,33,2,1,0,0,...,0,0,0,0,0,1,1,0,0,0
189,190,21,2923,1,1,28,1,1,1,1,...,0,0,0,0,1,0,0,0,0,1
50,51,24,1559,4,4,50,1,1,1,1,...,0,0,0,0,1,0,1,0,0,1
46,47,24,2611,4,3,46,2,1,1,1,...,0,1,1,0,1,0,1,0,0,0
12,13,36,9271,2,1,24,1,1,0,1,...,0,0,1,0,1,0,1,0,0,1
205,206,45,1845,4,4,23,1,1,0,1,...,1,0,1,0,0,0,1,0,0,1
19,20,36,9629,4,4,24,2,1,0,1,...,0,0,1,0,1,0,1,0,0,1
179,180,24,1193,1,4,29,2,1,0,1,...,1,0,1,0,0,1,0,1,0,0

In [0]:
print("Validation size: ", len(validationt))

Validation size:  42

In [0]:
trainingt = data_testing.drop("label", axis = 1)
trainingt.shape

(207, 49)

In [0]:
y_trainingt = data_testing["label"]
y_trainingt.shape

(207,)

In [0]:
attributest = ["id", "duration", "installment_commitment", "residence_since", "age", "existing_credits", "num_dependents", "credit_amount", "f_worker", "checking_status_<0", "checking_status_>=200", "checking_status_no checking", "credit_history_critical/other existing credit", "credit_history_delayed previously", "credit_history_existing paid", "credit_history_no credits/all paid", "purpose_domestic appliance", "purpose_education", "purpose_furniture/equipment", "purpose_new car", "purpose_other", "purpose_radio/tv", "purpose_repairs", "purpose_retraining", "purpose_used car", "savings_status_500<=X<1000", "savings_status_<100", "savings_status_>=1000", "savings_status_no known savings", "employment_4<=X<7", "employment_<1", "employment_>=7", "employment_unemployed", "personal_status_male div/sep", "personal_status_male mar/wid", "personal_status_male single", "other_parties_guarantor", "other_parties_none", "property_magnitude_life insurance", "property_magnitude_no known property", "property_magnitude_real estate", "other_payment_plans_none", "other_payment_plans_stores", "housing_own", "housing_rent", "job_skilled", "job_unemp/unskilled non res", "job_unskilled resident", "own_telephone_yes"]
labelt = y_trainingt

In [0]:
le2 = preprocessing.LabelEncoder()
yt = le2.fit_transform(y_trainingt.values)

In [0]:
traint,testt = train_test_split(data_testing, test_size = 0.2)

In [0]:
x_traint = traint[attributest]
y_traint = traint["label"]
x_testt = testt[attributest]
y_testt = testt["label"]

In [0]:
Ct = DecisionTreeClassifier(min_samples_split=1.0)

In [0]:
dtt = Ct.fit(x_traint,y_traint)

In [0]:
y_predt = Ct.predict(x_testt)
print("accuracy score: %.2f" % accuracy_score(y_testt, y_predt))

accuracy score: 0.79

In [0]:
For training data, accuracy scores
1)0.75
2)0.69
3)0.69

So, I choosed min_samples_split=1.0 for testing data training